
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h6 class="navbar-text">&copy;&nbsp;Copyright 2021. All rights reserved. Evilasio Junior #301122341 - COMP229 - Summer 2021</h6>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
